<p>
  posts-main works!
</p>
<h2>All posts:</h2>
<ul>
  <li *ngFor = "let post of posts">
    <span>Id of post: {{post.idPost}}</span> Id of user: {{post.idUser}} Text: {{post.text}} 
    Date created: {{post.createdDate}} Date modified: {{post.editedDate}} 
  </li>
</ul>