<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<table *ngFor = "let user of users"> 

  <tr>
       <th>#</th>
      <th>UserName</th> 
      <th>FullName</th>
      <th>Email</th>
      <th>Status</th>
      <th> Date created</th>
      <th>Options</th>
  </tr>
  <tr>
      <td>{{user.id_User}}</td>
      <td>{{user.user_Name}}</td>
      <td>{{user.full_Name}}</td>
      <td> {{user._email}}</td> 
      <td> {{user._status}}</td> 
      <td>{{user.created_Date}}</td> 
      <td><a href="/users/{{user.id_User}}">Edit</a></td>
  </tr>
  
</table>
